.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer-content{
    background: #fff;
}
.side-nav-config{
    padding: 0;
    border-right:solid 1px #eee; 
}