@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables'; 
@import '../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.content-top-margin{
    margin-top: 50px;
}
.carousel-item{
    .view{
    margin: 0 auto;
    }
}
button{
    &:focus{
        outline: none !important;
    }
}