
    <mat-grid-list cols="3">
      <mat-grid-tile></mat-grid-tile>

      <!-- Writing markup for login starts -->
      <mat-grid-tile class='login-element'>
        <div class="login-container">

          <!-- Template Header starts -->
          <div class="login-box-header">
            <h2>CARZ</h2>
          </div>
          <!-- Template Header ends -->

          <!-- Template Body starts -->
          <form class="login-box-body" (ngSubmit)="loginUser()" [formGroup]="signinForm" autocomplete="off">

            <!-- Markup for getting Username starts -->
            <mat-grid-list cols="9" rowHeight="75px">
              <mat-grid-tile [rowspan]="1" class="login-icon">
                <mat-icon>lock</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="7">
                <mat-input-container class="justifier">
                  <input matInput type="text" name="email" type="email" class="form-control" formControlName="email" placeholder="Username"
                    ngModel>
                </mat-input-container>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- Markup for getting Username ends -->

            <!-- Markup for getting Password starts -->
            <mat-grid-list cols="9" rowHeight="100px">
              <mat-grid-tile [rowspan]="1" class="login-icon">
                <mat-icon>remove_red_eye</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="7">
                <mat-input-container class="justifier">
                  <input matInput type="password" name="password" class="password" class="form-control" formControlName="password" placeholder="Password"
                    ngModel>
                </mat-input-container>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- Markup for getting Password ends -->

            <button type="submit" [disabled]="!signinForm.valid" class="login-button" mat-raised-button>
                    <mat-icon>input</mat-icon> Login
                  </button>

          </form>
          <!-- Template Body ends -->

        </div>
      </mat-grid-tile>
      <!-- Writing markup for login ends -->
      <mat-grid-tile></mat-grid-tile>

    </mat-grid-list>
